@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


:root {
    --white-default: rgba(217, 223, 221, 1);
    --green-default: rgba(23, 151, 142, 1)
}

* {
    font-family: "Share Tech Mono", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 0;
    width: 100%;
    border: none;
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    border: none;
    background: rgb(217, 223, 221);
    background: linear-gradient(90deg, var(--white-default) 0%, var(--green-default) 100%);
}

.section-right {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.section-left {
    display: flex;
    width: 50%;
    height: 100%;
}

.box-login {
    display: flex;
    height: 500px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    font-size: 32px;
}

.box-login-title {
    margin-left: 30px;
}


.c-loader {
    display: none;
    animation: is-rotating 1s infinite;
    border: 6px solid var(--white-default);
    border-radius: 50%;
    border-top-color: var(--green-default);
    height: 30px;
    width: 30px;
}

.icon-our-chat {
    width: 100px;
}



@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

@media (max-width: 450px) {
    main {
        flex-direction: column;
        background: var(--white-default);
        background: linear-gradient(180deg, var(--white-default) 0%, var(--green-default) 100%);
    }

    .home-our-chat {
        height: 75%;
    }

    .section-left {
        width: 100%;
        height: 25%;
        justify-content: center;
        align-items: center;
    }

    .section-right {
        width: 100%;
        height: 75%;
    }

    .box-login {
        width: 80%;
        height: 80%;
    }
}