.box-alert{
    display: flex;
    background-color: red;
    color: white;
    position: absolute;
    width: 200px;
    height: 100px;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}