.input-user-field {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
}

.input-user-login {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input-user-login::placeholder {
    color: transparent;
}

.input-user-login:placeholder-shown~.input-user-label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.input-user-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.input-user-login:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.input-user-login:focus~.input-user-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.input-user-login:required,
.input-user-login:invalid {
    box-shadow: none;
}